@import "./fontface.scss";

html,
body,
#root {
  margin: 0;
  height: 100%;
  word-break: auto-phrase;
}

#main-content,
#layout,
p,
span,
li,
td,
th,
figcaption {
  user-select: text;
}

@media print {
  html,
  body {
    padding: 0px;
  }
  html,
  body,
  #root,
  #wrapper,
  #layout,
  #main-content {
    display: block;
    overflow: inherit;
    height: inherit;
  }

  * {
    &::-webkit-scrollbar {
      width: 0px;
    }
  }

  #stacks {
    &::before,
    &::after {
      display: none !important;
    }
  }

  @page {
    size: A3 portrait;
    margin: 0px;
  }
}
