@mixin user-select-none {
  user-select: none;
}

@mixin ps($num) {
  padding-left: calc($num * 0.25);
}
@mixin pe($num) {
  padding-right: calc($num * 0.25);
}
@mixin pt($num) {
  padding-top: calc($num * 0.25);
}
@mixin pb($num) {
  padding-bottom: calc($num * 0.25);
}
@mixin px($num) {
  @include ps($num);
  @include pe($num);
}
@mixin py($num) {
  @include pt($num);
  @include pb($num);
}
@mixin p($num) {
  @include px($num);
  @include py($num);
}
@mixin ms($num) {
  margin-left: calc($num * 0.25);
}
@mixin me($num) {
  margin-right: calc($num * 0.25);
}
@mixin mt($num) {
  margin-top: calc($num * 0.25);
}
@mixin mb($num) {
  margin-bottom: calc($num * 0.25);
}
@mixin mx($num) {
  @include ms($num);
  @include me($num);
}
@mixin my($num) {
  @include mt($num);
  @include mb($num);
}
@mixin m($num) {
  @include mx($num);
  @include my($num);
}

@mixin d-inline {
  display: inline;
}
@mixin d-inline-block {
  display: inline-block;
}
@mixin d-block {
  display: block;
}
@mixin d-inline-flex {
  display: inline-flex;
}
@mixin d-flex {
  display: flex;
}
@mixin d-none {
  display: none !important;
}
@mixin flex-direction-row {
  flex-direction: row;
}
@mixin flex-direction-column {
  flex-direction: column;
}
@mixin justify-content-start {
  justify-content: flex-start;
}
@mixin justify-content-end {
  justify-content: flex-end;
}
@mixin justify-content-center {
  justify-content: center;
}
@mixin justify-content-between {
  justify-content: space-between;
}
@mixin align-items-start {
  align-items: flex-start;
}
@mixin align-items-end {
  align-items: flex-end;
}
@mixin align-items-center {
  align-items: center;
}
@mixin flex-0 {
  flex: 0;
}
@mixin flex-1 {
  flex: 1;
}
@mixin flex-0-1($value) {
  flex: 0 1 $value;
}
@mixin flex-1-1($value) {
  flex: 1 1 $value;
}
@mixin flex-1-0($value) {
  flex: 1 0 $value;
}
@mixin flex-0-0($value) {
  flex: 1 0 $value;
}
@mixin flex-val($a, $b, $val) {
  flex: $a $b $val;
}
@mixin flex-auto {
  flex: auto;
}
@mixin flex-inherit {
  flex: inherit;
}
@mixin t-center {
  text-align: center;
}
@mixin t-start {
  text-align: left;
}
@mixin t-end {
  text-align: right;
}

@mixin transform($value) {
  transform: $value;
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
}

@mixin overflow-none {
  overflow: none;
}
@mixin overflow-x-none {
  overflow-x: none;
}
@mixin overflow-y-none {
  overflow-y: none;
}
@mixin overflow-auto {
  overflow: auto;
}
@mixin overflow-y-auto {
  overflow-y: auto;
}
@mixin overflow-x-auto {
  overflow-x: auto;
}
@mixin width($width) {
  width: #{$width};
}
@mixin height($height) {
  height: #{$height};
}
@mixin max-width($width) {
  max-width: #{$width};
}
@mixin max-height($height) {
  max-height: #{$height};
}
@mixin min-width($width) {
  min-width: #{$width};
}
@mixin min-height($height) {
  min-height: #{$height};
}
@mixin transition($time, $action) {
  transition: $time $action;
  -webkit-transition: $time $action;
  -moz-transition: $time $action;
  -ms-transition: $time $action;
  -o-transition: $time $action;
}
@mixin emoji-color($color) {
  color: transparent;
  text-shadow: 0 0 0 $color;
}
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}

@mixin mobile {
  @media (min-width: $mobile) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}
@mixin wide {
  @media (min-width: $wide) {
    @content;
  }
}
@mixin over-wide {
  @media (min-width: $wide) {
    @content;
  }
}

@mixin responsive($name) {
  @include mobile {
    .#{$name}-sm {
      @content;
    }
  }
  @include tablet {
    .#{$name}-md {
      @content;
    }
  }
  @include desktop {
    .#{$name}-lg {
      @content;
    }
  }
  @include wide {
    .#{$name}-xl {
      @content;
    }
  }
  @include over-wide {
    .#{$name}-xxl {
      @content;
    }
  }
}
