//////////////// 반응형 처리

@include responsive("overflow-none") {
  @include overflow-none;
}
@include responsive("overflow-auto") {
  @include overflow-auto;
}
@include responsive("overflow-y-auto") {
  @include overflow-y-auto;
}
@include responsive("overflow-x-auto") {
  @include overflow-x-auto;
}
@include responsive("flex-row") {
  @include flex-direction-row;
}
@include responsive("flex-column") {
  @include flex-direction-column;
}
@include responsive("justify-content-start") {
  @include justify-content-start;
}
@include responsive("justify-content-end") {
  @include justify-content-end;
}
@include responsive("justify-content-#{$center}") {
  @include justify-content-center;
}
@include responsive("justify-content-between") {
  @include justify-content-between;
}
@include responsive("align-items-start") {
  @include align-items-start;
}
@include responsive("align-items-end") {
  @include align-items-end;
}
@include responsive("align-items-#{$center}") {
  @include align-items-center;
}

@include responsive("d-block") {
  display: block !important;
}
@include responsive("d-inline") {
  display: inline !important;
}
@include responsive("d-inline-block") {
  display: inline-block !important;
}
@include responsive("d-inline-flex") {
  display: inline-flex !important;
}
@include responsive("d-flex") {
  display: flex !important;
}
@include responsive("d-none") {
  display: none !important;
}
