/* sizing */
$mobile: 420px;
$tablet: 768px;
$desktop: 968px;
$wide: 1096px;

$limit: 11;
$start: 1;
$ratio: 5;
$bold-size: 700;
$normal-size: 500;
$small-size: 200;

/* side */
$left: "start";
$right: "end";
$center: "center";
