html,
body,
#app {
  margin: 0;
  height: 100%;
}

#app {
  #gnb {
    background-color: grey;
  }
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.align-items-between {
  align-items: flex-start;
}

.gap-1 {
  gap: 1rem;
}

.p-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.px-5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.h-100 {
  height: 100%;
}
